# REQUIRED 
## The Movie Database (TMDB) Read Only Access Token. To get title to search on other providers | eySomething (Not 123asdf123adxf)
TMDB_API_KEY=
## TVDB key. For series with no imdb id | something like asdfb-asdfb-adfb-asdf
TVDB_API_KEY=

# OPTIONAL
# KEY
## Debug-key for https://host/dashboard?key=DEBUG_KEY | debug-key
DEBUG_KEY=
## For poster from erdb, xrdb |
TMDB_KEY=
## For poster from rpdb | t0-free-rpdb
RPDB_API_KEY=

# Addon configuration
## Display name when show stream result | yastream
DISPLAY_NAME=
## Mediaflow-proxy URL | https://mediaflow-proxy...
MEDIAFLOW_PROXY_URL=
## Mediaflow-proxy password |
MEDIAFLOW_PROXY_PASSWORD=
## Min title matching score (higher mean only very similar title matches, 0 - 100) | 75
MIN_MATCHING_SCORE=

# Server configuration
## Cache size in mb | 100
CACHE_SIZE_MB=
## Log level TRACE -> DEBUG -> INFO -> WARN -> ERROR -> NONE | INFO
LOG_LEVEL=
## Domain that the addon serve | localhost
DOMAIN=
## Running port | 55913
PORT=
## Enable sending anonymous tracking (any value to on, leave empty to off) |
ENABLE_ANALYTICS=
## Enable warming cache (any value to on, leave empty to off) | true
WARM_CACHE=
## Maximum timeout in milliseconds | 15000
RETRY_TIMEOUT_MS=
## Delay in milliseconds between retries with exponential backoff | 2000
RETRY_DELAY_MS=
## Retry jitter | 1000
RETRY_JITTER_MS=

# Provider
## Kisskh urls, use ["https://kkh.alwaysdata.net"] if got blocked | ["https://kisskh.co","https://kisskh.do"]
KISSKH_URLS=