# REQUIRED 
## The Movie Database (TMDB) Read Only Access Token. To get title to search on other providers | eySomething (Not 123asdf123adxf)
TMDB_API_KEY=
## TVDB key. For series with no imdb id | something like asdfb-asdfb-adfb-asdf
TVDB_API_KEY=

# OPTIONAL
# KEY
## Debug-key for https://host/dashboard?key=DEBUG_KEY | debug-key
DEBUG_KEY=
## For poster from erdb, xrdb |
TMDB_KEY=
## For poster from rpdb | t0-free-rpdb
RPDB_API_KEY=

# Server
## Cache size in mb | 100
CACHE_SIZE_MB=
## Display name when show stream result | yastream
DISPLAY_NAME=
## Domain that the addon serve | localhost
DOMAIN=
## Running port | 55913
PORT=
## Log level TRACE -> DEBUG -> INFO -> WARN -> ERROR -> NONE | INFO
LOG_LEVEL=
## Mediaflow-proxy URL | https://mediaflow-proxy...
MEDIAFLOW_PROXY_URL=
## Mediaflow-proxy password |
MEDIAFLOW_PROXY_PASSWORD=
## Enable sending anonymous tracking (any value to on, leave empty to off) |
ENABLE_ANALYTICS=
## Min title matching score (higher mean only very similar title matches, 0 - 100) | 75
MIN_MATCHING_SCORE=
## Enable warming cache (any value to on, leave empty to off) | true
WARM_CACHE=

# Provider
## Kisskh urls, use "https://tamthai.alwaysdata.net" if got blocked | ["https://kisskh.co","https://kisskh.do"]
KISSKH_URLS=